#header{
    background-color: #FA5BDD;
    
}
#branding h1{
    color:white;
}

a:link,
a:visited{
    color:black;
}

div.breadcrumbs{
    background-color:#FA6CE0;
    color:black;
}

div.breadcrumbs a{
    color:black;
}

.module h2, .module caption, .inline-group h2{
    background-color:#FA6CE0;
    color:black;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background-color:green;
}
.button.default, input[type=submit].default, .submit-row input.default{
    background-color:green;
}